<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<base target="_blank">

	<title class="pageTitle">{{ site.page_title }}</title>
	<meta name="description" content="{{ site.app_description[site.active_lang] }}">

	<link rel="shortcut icon" href="{{ site.app_icon | relative_url }}">

	<!-- Smart App Banner -->
	{% if site.enable_smart_app_banner %}
	<meta name="apple-itunes-app" content="app-id={{ site.ios_app_id }}">
	{% endif %}

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
		integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ '/main.css' | relative_url }}">
	<script>
		document.addEventListener('DOMContentLoaded', function () {
			if (window.location.pathname === '/') {
				var userLang = navigator.language || navigator.userLanguage;
				if (userLang.startsWith('de')) {
					window.location.pathname = '/de';
				}
			}
		});
	</script>

	<!-- Localization Headers -->
	{% I18n_Headers %}

	<!-- SEO -->
	{% seo %}

	<!-- Campaigns -->
	<script>
		function setAppStoreUrl(originalUrl, utmCampaign) {
			const url = new URL(originalUrl);
			url.searchParams.set('pt', '2426159');
			url.searchParams.set('ct', utmCampaign);
			url.searchParams.set('mt', '8');
			return url.toString();
		}

		function setPlayStoreUrl(originalUrl, utmCampaign) {
			const url = new URL(originalUrl);
			if (url.pathname.startsWith('/store/apps')) {
				url.searchParams.set('utm_campaign', utmCampaign);
			}
			return url.toString();
		}

		function ensure_campaign_params() {
			const utmCampaign = localStorage.getItem('utm_campaign');
			if (utmCampaign) {
				document.querySelectorAll('a[href]').forEach(function (link) {
					if (link.href.includes('apps.apple.com')) {
						link.href = setAppStoreUrl(link.href, utmCampaign);
					} else if (link.href.includes('play.google.com')) {
						link.href = setPlayStoreUrl(link.href, utmCampaign);
					}
				});
			}
		}

		document.addEventListener('DOMContentLoaded', function () {
			const params = new URLSearchParams(window.location.search);
			let campaignSet = false;
			params.forEach((value, key) => {
				if (key.startsWith('utm_')) {
					localStorage.setItem(key, value);
					campaignSet = true;
				}
			});
			if (!campaignSet && window.location.pathname.includes('redeem-code')) {
				const code = window.location.pathname.split('/').pop();
				localStorage.setItem('utm_campaign', 'CODE_' + code.toUpperCase());
			}
			ensure_campaign_params();
		});
	</script>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-K2GKRDYQ2E"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() { dataLayer.push(arguments); }
	gtag('js', new Date());

	gtag('config', 'G-K2GKRDYQ2E');
</script>