.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.textcentered {
    text-align: center;
    width: max-content;
}

.verticalcentered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.split-screen-container {
    display: flex;
    height: 100vh;

    .left-side,
    .right-side {
        width: 50%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }

    .right-side {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding: 0;
        padding-top: 20px;
        background-color: white; //#060c19;

        h1,
        h2 {
            text-align: center;
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    @media (max-width: 1080px) {
        flex-direction: column;
        min-height: 100vh;

        .left-side,
        .right-side {
            width: 100%;
        }

        .left-side {
            min-height: 150pt;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
        }
    }
}

.codeBlock {
    background-color: #f4f4f4;
    color: black;
    padding: 20px;
    font-family: monospace;
    line-height: 1.5;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 26px;
    max-width: 100%;
    overflow-x: auto;
    cursor: pointer;

    &:hover {
        background-color: #e0e0e0;
    }
}

.copyButton {
    background: none;
    border: none;
    cursor: pointer;
    color: #000000;
}

.successIcon {
    color: green;
}

.redemptionButtonsContainer {
    width: 50vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.redemptionButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50pt;
    margin: 5px;
}

.redemptionButton img {
    max-height: 100%;
    width: auto;
}

.toptabs {
    padding-top: 20px;
    width: 100%;

    /* Style the tab */
    .tabs {
        display: flex;
        overflow: hidden;
        border: none;
        background-color: #f1f1f1;
        width: 100%;
        padding: 0;
    }

    /* Style the buttons inside the tab */
    .tablinks {
        flex: 1;
        background-color: inherit;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
        text-align: center;
    }

    /* Change background color of buttons on hover */
    .tablinks:hover {
        background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tablinks.active {
        background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: none;
    }
}

.howtoredeem {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #060c19;
    color: white;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    font-weight: 300;
    width: 100%;


    ol {
        padding-left: 30px;
        margin: 0;
    }

    h2 {
        text-align: left !important;
        padding-left: 0 !important;
    }
}

.importantText {
    margin-top: 30pt;
    font-weight: normal;

}